@charset "UTF-8";
/* Page Elements */
/* Common Elements */
/* Content Elements */
/* Base Object */
/* Helper Objects */
/* Node Object */
/* Profile Object */
/* line 132, ../sass/_modernist-skin.scss */
.-modernist-profile-object {
  /* profile category header */
}
/* line 135, ../sass/_modernist-skin.scss */
.-modernist-profile-object dl {
  /* profile category wrapper */
  /*profile category label */
  /* profile category value */
}

/* line 14, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
.region-header {
  clear: both;
}

/* line 17, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
#main-wrapper {
  position: relative;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
#page-wrapper, .region-page-closure {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 38, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
#content {
  width: 960px;
  display: inline;
  float: left;
  padding: 0;
}
/* line 43, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
.no-sidebars #content {
  width: 960px;
  margin-left: 0;
  margin-right: -960px;
}
/* line 48, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
.sidebar-first #content {
  width: 760px;
  margin-left: 200px;
  margin-right: -960px;
}
/* line 59, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
.sidebar-second #content {
  width: 760px;
  margin-left: 0;
  margin-right: -760px;
}
/* line 70, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
.two-sidebars #content {
  width: 560px;
  margin-left: 200px;
  margin-right: -760px;
}

/* line 85, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
.region-sidebar-first {
  display: inline;
  float: left;
  width: 200px;
  margin-left: 0;
  margin-right: -200px;
}

/* line 101, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
.region-sidebar-second {
  display: inline;
  float: left;
  width: 200px;
  margin-left: 760px;
  margin-right: -960px;
}
/* line 117, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
.two-sidebars .region-sidebar-second {
  margin-left: 760px;
  margin-right: -760px;
}

/* line 121, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
#content .section {
  margin: 0;
  padding: 0;
}

/* line 287, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
#navigation {
  overflow: hidden;
  display: inline;
  float: left;
  width: 100%;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  height: 2.3em;
}
/* line 296, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
#navigation ul {
  margin: 0;
  padding: 0;
  text-align: "left";
}
/* line 301, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
#navigation li {
  display: inline;
  float: left;
  padding: 0;
  padding-right: 10px;
}

/* line 307, ../../../../../../../.rvm/gems/ruby-1.8.7-p302@compassbeta/gems/compass-drupal-plugin-0.2.0.alpha.0/stylesheets/drupal/_zen.scss */
.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
  margin-top: 2.3em;
}

/* line 30, ../sass/modernist.scss */
#page-wrapper {
  /* Content */
  /* Regions */
}
